In [338]:
import numpy as np
import pandas as pd
import warnings
df = pd.read_csv('US_Regional_Sales_Data.csv')

In [339]:
df.head()

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
0,SO - 000101,In-Store,WARE-UHY1004,31/12/17,31/5/18,14/6/18,19/6/18,USD,6,15,259,12,5,0.08,"$1,001.18","$1,963.10"
1,SO - 000102,Online,WARE-NMK1003,31/12/17,31/5/18,22/6/18,2/7/2018,USD,14,20,196,27,3,0.08,"$3,348.66","$3,939.60"
2,SO - 000103,Distributor,WARE-UHY1004,31/12/17,31/5/18,21/6/18,1/7/2018,USD,21,16,213,16,1,0.05,$781.22,"$1,775.50"
3,SO - 000104,Wholesale,WARE-NMK1003,31/12/17,31/5/18,2/6/2018,7/6/2018,USD,28,48,107,23,8,0.08,"$1,464.69","$2,324.90"
4,SO - 000105,Distributor,WARE-NMK1003,10/4/2018,31/5/18,16/6/18,26/6/18,USD,22,49,111,26,8,0.10,"$1,476.14","$1,822.40"

In [340]:
df.tail()

,OrderNumber,Sales Channel,WarehouseCode,ProcuredDate,OrderDate,ShipDate,DeliveryDate,CurrencyCode,_SalesTeamID,_CustomerID,_StoreID,_ProductID,Order Quantity,Discount Applied,Unit Cost,Unit Price
7986,SO - 0008087,In-Store,WARE-MKL1006,26/9/20,30/12/20,7/1/2021,14/1/21,USD,9,41,339,29,1,0.08,$121.94,$234.50
7987,SO - 0008088,Online,WARE-NMK1003,26/9/20,30/12/20,2/1/2021,4/1/2021,USD,14,29,202,3,6,0.05,"$1,921.56","$3,202.60"
7988,SO - 0008089,Online,WARE-UHY1004,26/9/20,30/12/20,23/1/21,26/1/21,USD,14,32,241,35,5,0.20,"$2,792.76","$3,825.70"
7989,SO - 0008090,Online,WARE-NMK1003,26/9/20,30/12/20,20/1/21,25/1/21,USD,20,42,112,36,8,0.10,$804.00,"$1,072.00"
7990,SO - 0008091,In-Store,WARE-UHY1004,26/9/20,30/12/20,13/1/21,19/1/21,USD,6,41,237,43,5,0.08,"$1,370.82","$2,211.00"

In [341]:
df.shape

(7991, 16)

In [342]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   OrderNumber       7991 non-null   object
 1   Sales Channel     7991 non-null   object
 2   WarehouseCode     7991 non-null   object
 3   ProcuredDate      7991 non-null   object
 4   OrderDate         7991 non-null   object
 5   ShipDate          7991 non-null   object
 6   DeliveryDate      7991 non-null   object
 7   CurrencyCode      7991 non-null   object
 8   _SalesTeamID      7991 non-null   int64
 9   _CustomerID       7991 non-null   int64
 10  _StoreID          7991 non-null   int64
 11  _ProductID        7991 non-null   int64
 12  Order Quantity    7991 non-null   int64
 13  Discount Applied  7991 non-null   float64
 14  Unit Cost         7991 non-null   object
 15  Unit Price        7991 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 999.0+ KB

In [343]:
df.columns= df.columns.str.strip().str.lower().str.replace(" ", "_")
df = df.rename(columns={
    '_salesteamid': 'sales_team_id',
    '_customerid': 'customer_id',
    '_storeid': 'store_id',
    '_productid': 'product_id'
})
df.columns

Index(['ordernumber', 'sales_channel', 'warehousecode', 'procureddate',
       'orderdate', 'shipdate', 'deliverydate', 'currencycode',
       'sales_team_id', 'customer_id', 'store_id', 'product_id',
       'order_quantity', 'discount_applied', 'unit_cost', 'unit_price'],
      dtype='object')

In [344]:
id_cols = ['sales_team_id', 'customer_id', 'store_id', 'product_id']

for col in id_cols:
    if col in df.columns:
        df[col]=df[col].astype(str)

In [345]:
date_cols = ['orderdate', 'shipdate', 'deliverydate', 'procureddate']

df[date_cols] = df[date_cols].apply(lambda x: pd.to_datetime(x, dayfirst=True, errors='coerce'))

C:\Users\rubal\AppData\Local\Temp\ipykernel_30248\1037498421.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_cols] = df[date_cols].apply(lambda x: pd.to_datetime(x, dayfirst=True, errors='coerce'))
C:\Users\rubal\AppData\Local\Temp\ipykernel_30248\1037498421.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_cols] = df[date_cols].apply(lambda x: pd.to_datetime(x, dayfirst=True, errors='coerce'))
C:\Users\rubal\AppData\Local\Temp\ipykernel_30248\1037498421.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_cols] = df[date_cols].apply(lambda x: pd.to_datetime(x, dayfirst=True, errors='coerce'))
C:\Users\rubal\AppData\Local\Temp\ipykernel_30248\1037498421.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_cols] = df[date_cols].apply(lambda x: pd.to_datetime(x, dayfirst=True, errors='coerce'))

In [346]:
for col in ['unit_cost', 'unit_price'] : 
    df[col] = (
        df[col]
        .str.replace('$', '', regex=False)
        .str.replace(',', '', regex=False).astype(float))

In [347]:
df.loc[(df['discount_applied'] < 0) | (df['discount_applied'] > 1)]

Empty DataFrame
Columns: [ordernumber, sales_channel, warehousecode, procureddate, orderdate, shipdate, deliverydate, currencycode, sales_team_id, customer_id, store_id, product_id, order_quantity, discount_applied, unit_cost, unit_price]
Index: []

In [348]:
df.dtypes

ordernumber                 object
sales_channel               object
warehousecode               object
procureddate        datetime64[ns]
orderdate           datetime64[ns]
shipdate            datetime64[ns]
deliverydate        datetime64[ns]
currencycode                object
sales_team_id               object
customer_id                 object
store_id                    object
product_id                  object
order_quantity               int64
discount_applied           float64
unit_cost                  float64
unit_price                 float64
dtype: object

In [349]:
df.duplicated().sum()

np.int64(0)

In [350]:
df.describe(include='number')

       order_quantity  discount_applied    unit_cost   unit_price
count     7991.000000       7991.000000  7991.000000  7991.000000
mean         4.525341          0.115649  1431.911513  2284.536504
std          2.312631          0.085018  1112.413063  1673.096364
min          1.000000          0.050000    68.680000   167.500000
25%          3.000000          0.050000   606.120000  1031.800000
50%          5.000000          0.080000  1080.580000  1849.200000
75%          7.000000          0.150000  2040.250000  3611.300000
max          8.000000          0.400000  5498.560000  6566.000000

In [351]:
!pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\rubal\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\rubal\anaconda3\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\rubal\anaconda3\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\rubal\anaconda3\lib\site-packages (from sqlalchemy) (4.15.0)

In [352]:
from sqlalchemy import create_engine

# mySQL connection
username = "root"
password = "mysql#password"
host = "localhost"
port = "3306"
database = "supplychain_dataset"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

table_name = "sales_data"
df.to_sql(table_name, engine, if_exists="replace", index=False)
pd.read_sql("SELECT * FROM sales_data LIMIT 5;", engine)

,ordernumber,sales_channel,warehousecode,procureddate,orderdate,shipdate,deliverydate,currencycode,sales_team_id,customer_id,store_id,product_id,order_quantity,discount_applied,unit_cost,unit_price
0,SO - 000101,In-Store,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-14,2018-06-19,USD,6,15,259,12,5,0.08,1001.18,1963.1
1,SO - 000102,Online,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-22,2018-07-02,USD,14,20,196,27,3,0.08,3348.66,3939.6
2,SO - 000103,Distributor,WARE-UHY1004,2017-12-31,2018-05-31,2018-06-21,2018-07-01,USD,21,16,213,16,1,0.05,781.22,1775.5
3,SO - 000104,Wholesale,WARE-NMK1003,2017-12-31,2018-05-31,2018-06-02,2018-06-07,USD,28,48,107,23,8,0.08,1464.69,2324.9
4,SO - 000105,Distributor,WARE-NMK1003,2018-04-10,2018-05-31,2018-06-16,2018-06-26,USD,22,49,111,26,8,0.10,1476.14,1822.4